.container {
    background: #ffd1dc;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    'header header'
    'tema solucao'
    'vantagem vantagem';
  }
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F2E7DC;
    grid-area: header;
    background-color: #FF3333;
    width: 100%;
    height: 100px;
  }
  .logo{
    
  }
   
  .tema{
    grid-area: tema;
  }
   
  .tema div{
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
   
  img{
    width: 50%;
  }
  .texto{
    font-size: 19.5px;
  }



  .tema .nome_soluçao{
    display: flex;
  }
   
  .solucao{
    grid-area: solucao;
  }
   
  .solucao div{
    padding: 2rem;
  }
   
  .vantagem{
    grid-area: vantagem;
    padding: 0 2rem;
  }
   
  .vantagem div{
    display: flex;
    flex-direction: column;
  }
   
  @media screen and (min-width: 1580px) {
    .container{
      height: 100vh;
    }
  }
   
  @media screen and (max-width: 1580px) {
    .container {
      grid-template-areas:
      'header'
      'tema'
      'solucao'
      'vantagem'
      'vantagem';
    }
   
    .header{
      flex-direction: column;
      padding: 1rem 0;
    }
    .header div h1{
      font-size: 26px;
      text-align: center;
      padding: 0.5rem 0;
    }
   
    .nome_soluçao{
      flex-direction: column;
    }
  }